html {
  overflow-y: auto;
}

main {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
}

// .app {
//   text-align: center;
//   max-width: 2048px;
//   min-width: 600px;
//   .chat-parent {
//     position: relative;
//     height: calc(100vh - 213px);
//   }
//   .chat-box {
//     position: absolute;
//     bottom: 20px;
//     right: 20px;
//   }
// }


// Box
.container {
  position: relative;
  border: 1px solid black;
  height: calc(100vh - 213px);
  width: 800px;
  overflow: hidden;
  .box {
    position: absolute;
    top: 0;
    left: 0;
    background-color: hotpink;
    height: 60px;
    width: 60px;
    cursor: pointer;
  }
}

.container-2 {
  position: relative;
  border: 1px solid black;
  height: calc(100vh - 213px);
  width: 800px;
  overflow: hidden;
  .box, .dialog {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
  }
  .box {
    background-color: hotpink;
    height: 60px;
    width: 60px;
  }
  .dialog {
    background-color: lightgray;
    width: 100px;
    height: 100px;
    top: var(--dialog-top, 0px);
    left: var(--dialog-left, 0px);
  }
  .hidden {
    display: none;
  }
}
